@using Microsoft.JSInterop
@inject IJSRuntime js
@inherits CircuitView<T_Dialog>

@code {
    
    [Parameter]
    public RenderFragment SLOT_Body { get; set; }

    [Parameter]
    public Func<bool> PRM_ShouldDismiss { get; set; }

    private void OnCurtainClick(MouseEventArgs e)
    {
        if (this.PRM_ShouldDismiss == null || this.PRM_ShouldDismiss())
        {
            //js1.Run("alert('hi')");
            this.Circuit.IsOpen = false;
        }
    }


    string getBusyClass () => Circuit.IsBusy ? "curtain-busy-background" : "";
}

<div class=@Circuit.LayoutCss>
    <div class=@Circuit.CurtainCss 
         onclick="@OnCurtainClick">
         <div class="@getBusyClass()"></div>
    </div>
    <div class=@Circuit.DialogBodyCss>
           @SLOT_Body
    </div>
</div>