@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*35715793-3c0e-4f8b-963b-db7752638c61*@
<Dialog Circuit=@U_DialogContainerCircuit.Singleton.DialogCircuit 
        PRM_ShouldDismiss=@ShouldDismiss>   
        @*1eee83a2-8759-4af7-a963-c4daae987f90*@
        @*b1e7ccfe-54d7-4db2-8514-366560b51170*@
    <SLOT_Body>
        @*You inject the dialog body you want*@
        <div style="padding:20px; border:1px solid black; border-radius:20px; background-color:#333333; color:white">
            <h1>This is a za3bolla dialog</h1>
            <input id="chk" type="checkbox" @bind="AreWeOK" />
            <label for="chk" style="cursor: pointer">
                Are we OK?
            </label>

            @*You may provide your logic upon which the dialog content is rendered*@
            @*b1e7ccfe-54d7-4db2-8514-366560b51170*@
            @if(this.TriedToDismiss)
            {
                <p style="color: red; font-style:italic">Please check the "Are we OK?" box first</p>
            }

            
Balancing Story and Sentiment: A Chat With the Writer and Editor Behind The Atavist‘s New Issue
By Brendan O'Meara Feature
In this excerpt from The Creative Nonfiction Podcast, host Brendan O’Meara talks to Kelly Loudenberg and Atavist editor-in-chief Seyward Darby about their work on “The Caregivers.”

Friends: We Need Your Help
to Fund More Stories
Longreads Best of 2021
A collection of our favorite stories from the past year
Read Our Favorites
‘Raphael Couldn’t Have Painted Something More Beautiful’
By Longreads Feature
The couple who saved an imprisoned artist’s life — and the extraordinary gift he gave in return.

The Cabin on the Mountain
By Colin Dickey Feature
“Sometimes, the mechanism of the answer is something ludicrously complex, a thing that must be pieced out bit by bit. Other times, the solution requires retooling your perspective.”

Dreaming of Water with Tiger Salamanders
By Sam Keck Scott Feature
“There is no more urgent form of communication than going extinct.”

Latest Picks
A Day in the Life of (Almost) Every Vending Machine in the World
By Tom Lamont  / The Guardian
This Story Stinks
By JJ Goode  / Eater
Untold
By Paula Lavigne, Tom Junod  / ESPN
The Hidden and Eternal Spirit of the Great Dismal Swamp
By Lex Pryor  / The Ringer
The Idol and The Mosque
By Siddhartha Deb  / Tablet Magazine
Notes From the Underground
By Zack Graham  / Astra Magazine
The Nurse Imposter
By Sarah Treleaven  / Maclean’s
Nicholas Kristof’s Botched Rescue Mission
By Olivia Nuzzi  / New York Magazine
Too Much Vino and Project Veritas: My Extremely Weird Evening with James O’Keefe
By Laura Jedeed  / Rolling Stone
‘The Ways of Fiction Are Devious Indeed’
By Sands Hall  / Alta
View more
Latest Posts
The Significance of Sniffing: A Reading List on Smell
By Genevieve Fullan Feature
Why it’s important to give things a sniff.

The Top 5 Longreads of the Week
By Longreads Weekly Top 5
This week, we’re sharing stories from Josefa Velasquez, Wufei Yu, Tom Foster, Tim Requarth, and Ellen Ruppel Shell.

Reading List: Who’s Your Susan Sontag?
By Brooke Nagler Feature
Five longreads about the iconoclastic American writer, director, and activist.

The Top 5 Longreads of the Week
By Longreads Weekly Top 5
This week, we’re sharing stories from Rachel Aviv, Clare Gerada, Fatima Syed, Leslie Jamison, and Deb Olin Unferth.

Analyzing the ‘Bimbo’: A Reading List on Hollywood Blondes
By Sascha Cohen Feature
The source of glamour, sex, and transgression? Or a carefully crafted persona? A closer look at the Hollywood blonde.

        </div>
    </SLOT_Body>
</Dialog>

@code {

    //b1e7ccfe-54d7-4db2-8514-366560b51170
    private bool AreWeOK { get; set; }

    //b1e7ccfe-54d7-4db2-8514-366560b51170
    private bool TriedToDismiss { get; set; } = false;

    //b1e7ccfe-54d7-4db2-8514-366560b51170
    bool ShouldDismiss()
    {
        if(!AreWeOK)
        {
            this.TriedToDismiss = true;
            return false;
        }
        else
        {
            this.TriedToDismiss = false;
            this.AreWeOK = false;
            return true;
        }
    }
}